.sidebar {
  background-color: white;
  width: 29%;
  float: right;
  height: auto;
  margin-top: 20px;
}

.asideTop {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  font-family: "Noto Sans JP", Roboto, arial, sans-serif;
}

.fa-info-circle {
  color: #808080;
  padding-left: 5px;
}

.autoplay {
  color: #808080;
}
.fa-toggle-on {
  color: rgb(11, 109, 238);
  padding-left: 5px;
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 46% 47%;
  width: 100%;
  padding: 15px;
  column-gap: 12px;
  row-gap: 19px;
}

.grid-item {
  width: 100;
}

.lefters {
  display: flex;
  align-items: center;
}

.img-video {
  width: 100%;
}

.video-chanel,
.video-views {
  line-height: 5px;
  font-family: "Noto Sans JP", Roboto, arial, sans-serif;
}

.video-title {
  font-size: 15px;
  font-family: "Noto Sans JP", Roboto, arial, sans-serif;
  margin-top: -1px;
  text-align: left;
  font-weight: 600;
  color: #333333;
  line-height: 15px;
}

.video-chanel {
  color: #767676;
  font-size: 13px;
  margin-top: -6px;
}

.video-views {
  color: #767676;
  font-size: 13px;
}

.showMoreAside {
  color: #808080;
  font-size: small;
  text-align: center;
  font-weight: bold;
  font-family: "Noto Sans JP", Roboto, arial, sans-serif;
}
