body {
  font-family: "Noto Sans JP", Roboto, arial, sans-serif;
}

.point {
  cursor: pointer;
}

.flex {
  display: flex;
}

.wide {
  width: 100%;
}

.cont-main::after {
  overflow: hidden;
}

.main {
  width: 70%;
  float: left;
  margin-top: 20px;
}

.mainVideo {
  height: 480px;
}

.videoDescription {
  padding: 0px 3% 1% 3%;
  font-size: 20px;
}

h1.title {
  font-weight: 500;
  color: #000000;
  padding-top: 11px;
  margin-top: 4px;
}

.cont {
  justify-content: space-between;
  display: flex;
  width: 87%;
}
.user-photo img {
  width: 74%;
  border-radius: 50%;
}

.user-name {
  margin-top: 0px;
}

.subscribe {
  color: #f1f1f1;
  background-color: red;
  font-size: 19px;
  height: 33px;
  padding: 0 14px;
  border-radius: 4px 0 0 4px;
  border-style: solid;
  border-color: red;
}

.subs {
  display: inline-block;
}
.button-counter {
  background-color: #fafafa;
  color: #737373;
  display: inline-block;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: 31px;
  border-color: lightgray lightgray lightgray transparent;
  border-style: solid;
  border-radius: 0 4px 4px 0;
  line-height: 21px;
  height: 27px;
}

.views {
  color: #666666;
  text-align: right;
  font-size: 27px;
  line-height: 24px;
  justify-content: end;
  align-items: flex-end;
}

.actions {
  justify-content: space-between;
  color: #808080;
  font-size: x-large;
}

.actions span {
  margin-left: 12px;
  margin-right: 12px;
  font-size: large;
}

.cont-main {
  overflow: hidden;
  width: 87%;
  margin: 0 auto;
}
